.say {
  .say-list {
    .say-list-item {
      padding: 16px;
      margin-bottom: 10px;
      .say-list-tip {
        text-align: center;
        padding-bottom: 10px;
      }
      .say-list-time {
        font-size: 14px;
        padding-bottom: 20px;
        text-align: center;
      }
    }
  }
  .say-list-more {
    font-size: 16px;
    font-weight: bold;
    color: @h-color;
  }
}
