.say{
  .say-list-time{
    margin-bottom: 10px;
    background-color: @primary-color;
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    opacity: 0.6;
    font-size: 14px;
  }
  .say-list-cont{
    padding-top:10px;
  }
}