.classify {
  border-bottom: 1px dashed @h-color;
  padding-bottom: 30px;
  .classify-list {
    cursor: pointer;
    margin-top: 4px;
    color: #6e7173;
    font-size: 18px;
    .classify-list-num {
      text-align: right;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
