.classify {
  border-bottom: 1px dashed @primary-color;
  padding-bottom: 30px;
  // margin-top: 20px;
  // padding: 10px;
  // background-color: rgba(225, 225, 225, 0.6);
  // border-radius: 20px;
  // overflow: hidden;
  .classify-list {
    cursor: pointer;
    margin-top: 4px;
    color: #6e7173;
    font-size: 18px;
    .classify-list-num {
      text-align: right;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
