.login {
  background-color: #f7f7;
  height: 100vh;
  padding-top: 20vh;
  .login-box {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    .login-tip {
      padding: 10px 0;
    }
  }
}
