{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "overrides": [{
    "files": ".prettierrc",
    "options": {
      "parser": "json"
    }
  }],
  "endOfLine": "auto",
  "quoteProps":"preserve"
}
