.me {
  .me-list {
    margin-bottom: 60px;
    .me-title{
      font-size: 20px;
      display: inline-block;
      border-top-right-radius: @h-border-radius;
      border-bottom-right-radius: @h-border-radius;
      border: 1px solid @h-color;
      background-color: @h-color;
      color: #fff;
      padding-right: 30px;
      padding-left: 10px;
      margin-bottom: 20px;
    }
    .me-content {
      .me-content-list {
        padding: 10px 0px;
        span {
          margin-right: 20px;
        }
      }
      .me-content-name {
        line-height: 30px;
        font-weight: bold;
      }
      .me-content-dec {
        font-size: 14px;
        color: #888;
      }
    }
  }
}
