.h-comment {
  .h-comment-divider {
    padding-bottom: 10px;
  }
  .h-comment-editor {
    border: 1px solid @h-border-color;
    border-radius: @h-border-radius;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('~/public/images/cat.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 10px;
    max-height: 200px;
    overflow: hidden;
    .public-DraftEditor-content {
      height: 180px;
      overflow: auto;
    }
  }
  .h-comment-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
  }
  .h-comment-btn {
    float: right;
    border-radius: @h-border-radius;
  }
  .h-comment-tip {
    color: @h-color;
    font-size: 14px;
    font-weight: bold;
    span {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.h-comment-list-box {
  .h-comment-title {
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .h-comment-list {
    .h-comment-item {
      margin-bottom: 30px;

      .h-comment-avatar {
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }

      .h-comment-reply {
        border: 1px solid @h-border-color;
        border-radius: @h-border-radius;
        overflow: hidden;

        .h-comment-reply-top {
          border-bottom: 1px solid @h-border-color;
          padding: 8px 20px;
          background-color: #f6f8fa;

          .h-comment-name {
            font-weight: bold;
          }

          .h-comment-time {
            padding-left: 12px;
          }

          .h-comment-btn {
            float: right;
          }
        }

        .h-comment-content {
          padding: 8px 20px;
          margin-top: 5px;
          display: inline-block;
          width: auto;
        }

        .h-comment-child {
          padding: 20px;

          .h-comment-item {
            margin-bottom: 15px;

            .h-comment-avatar {
              width: 40px;
              height: 40px;
            }

            .h-comment-reply {
              .mark-comment-reply-top {
                padding: 4px 20px;
                font-size: 12px;
              }
            }

            .h-comment-content {
              padding: 4px 20px;
            }
          }
        }
      }
    }
  }

  .h-comment-comment {
    padding-top: 30px;
  }

  .h-comment-page {
    text-align: center;
  }
}
