.layout {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  // background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  // background-image: url("https://cos.han96.com/blog/style/background2");
  background-size: cover;
  background-repeat: no-repeat;
  .layout-row {
    width: 1260px;
    margin: 0 auto;
    // background: hsla(0,0%,100%,.25) border-box;
    // padding: 40px 60px;
    padding-bottom: 80px;
    position: relative;
    // overflow: hidden;
    .content {
      padding-right: 60px;
    }
    .sider {
      border-left: 1px dashed @primary-color;
      padding: 20px 30px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
    }
    .foot {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}
