.layout {
  width: 100%;
  .layout-row {
    width: 1300px;
    margin: 40px auto;
    position: relative;
    padding: 60px;
    padding-bottom: 120px;
    // border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    .content {
      padding-right: 30px;
    }
    .sider {
      border-left: 3px double @h-color;
      padding: 0 30px;
    }
    .foot {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .layout {
    padding: 0 10px;
    .layout-row {
      width: 100%;
      .content {
        padding-right: 0px;
      }
      .h-media {
        display: none;
      }
    }
  }
}
