.mark-admin-list {
  padding: 60px;
  .mark-markdown {
    padding: 60px;
    width: 1200px;
  }
}
.mark-admin-dtl {
  .mark-admin-header {
    background: #fff;
    border: 1px solid @h-border-color;
    border-radius: 10px;
    overflow: hidden;
  }
  .mark-dtl-all {
    margin-top: 30px;
  }
  .mark-markdown {
    margin-bottom: 30px;
    .mark-markdown-cls {
      height: calc(100vh - 360px);
      min-height: 500px;
    }
  }
}
