.time {
  .time-list-time {
    font-size: 16px;
    color: #888;
  }
  .time-list-cont {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border-radius: @h-border-radius;
    color: @h-font-color;
    display: inline-block;
  }
}
