@font-face {
  // font-family: hFont;
  // src: url("https://cos.han96.com/blog/font/myfont2.ttf");
}
@font-face {
  font-family: "titleFont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_35k80l1hbcv.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_35k80l1hbcv.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_35k80l1hbcv.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_35k80l1hbcv.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_35k80l1hbcv.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_35k80l1hbcv.svg#站酷小薇体") format("svg"); /* iOS 4.1- */
}
body,
h1 {
  margin: 0;
  font-family: hFont, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-divider-vertical,
.ant-divider-plain.ant-divider-with-text {
  border-left-color: rgb(170, 170, 170);
  border-top-color: rgb(170, 170, 170);
}

.ant-input,
.ant-input-affix-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
}
.ant-form-item-label > label {
  font-size: 18px;
}
.ant-timeline-item {
  font-size: 18px;
}

// 公共
pre {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
.opacity8 {
  opacity: 0.8;
}
.opacity6 {
  opacity: 0.6;
}
.h-card {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

// 滚动条
.layout::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.layout::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #989898;
}
.layout::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: transparent;
}

// 回到顶部
.ant-back-top {
  animation: icon_jump 1s linear infinite;
  right: 30px;
}

// 动态效果
@keyframes icon_jump {
  0% {
    opacity: 0.8;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(0, 3px);
  }
  100% {
    opacity: 0.8;
    transform: translate(0, 0);
  }
}
