@font-face {
  font-family: hFont;
  src: url("https://cos.han96.com/blog/font/myfont2.ttf");
}
@font-face {
  font-family: "titleFont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_2v3m9f5j65.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_2v3m9f5j65.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_2v3m9f5j65.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_2v3m9f5j65.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_2v3m9f5j65.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_2v3m9f5j65.svg#站酷小薇体") format("svg"); /* iOS 4.1- */
}
body,
h1 {
  margin: 0;
  font-family: hFont, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-divider-vertical,
.ant-divider-plain.ant-divider-with-text {
  border-left-color: rgb(170, 170, 170);
  border-top-color: rgb(170, 170, 170);
}

.ant-input,
.ant-input-affix-wrapper {
  background-color: #fff;
  opacity: 0.6;
}
.ant-form-item-label > label {
  font-size: 18px;
}

// 公共
pre{
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
.opacity8 {
  opacity: 0.8;
}
.h-card{
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}
