.mark-title {
  margin-bottom: 20px;
  font-size: 16px;
  color: @primary-color;
  cursor: pointer;
}
.mark-dtl {
  position: relative;
  .mark-title {
    margin-bottom: 20px;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 10px;
    color: @primary-color;
    cursor: pointer;
  }
  .mark-dtl-all {
    h1 {
      font-size: 34px;
      text-align: center;
    }
    .mark-dtl-title {
      font-size: 18px;
      padding: 12px 0;
      text-align: center;
      span {
        margin-right: 10px;
      }
    }
    .mark-dtl-cont {
      margin-top: 20px;
      img {
        max-width: 100%;
      }
      .mark-dtl-editor {
        background: transparent;
      }
      .my-editor-catalog {
        cursor: pointer;
        position: fixed;
        left: 0px;
        top: 30vh;
        background-color: #fff;
        padding: 30px 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px #999999;
        .my-editor-catalog-btn {
          position: absolute;
          right: 4px;
          bottom: 4px;
          font-size: 12px;
        }
      }
    }
  }
  .mark-dtl-CC {
    padding: 20px;
    margin-top: 60px;
  }
  .mark-dtl-support {
    margin: 60px 0;
    text-align: center;
    .mark-fenxiang {
      font-size: 50px;
      cursor: pointer;
    }
    .mark-fenxiang:hover {
      animation: icon_jump 1s linear infinite;
    }
  }
  .mark-comment {
    .mark-comment-title {
      line-height: 60px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    .mark-comment-list {
      .mark-comment-item {
        margin-bottom: 30px;
      }
      .mark-comment-avatar {
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }
      .mark-comment-name {
        font-weight: bold;
        font-size: 18px;
      }
      .mark-comment-time {
        padding-left: 30px;
        font-size: 12px;
      }
      .mark-comment-content {
        padding: 8px;
        margin-top: 5px;
        display: inline-block;
        width: auto;
      }
    }
  }
}

.mark-classify {
  margin-bottom: 20px;
  padding-bottom: 10px;
  overflow-y: auto;
  white-space: nowrap;
}
.mark-list {
  .mark-list-page {
    margin-bottom: 18px;
    padding: 20px;
    cursor: pointer;
    .mark-list-page-title {
      font-weight: bold;
      font-size: 30px;
    }
    .mark-list-page-dec {
      line-height: 1.87;
      text-align: justify;
    }
    .mark-list-page-msg {
      line-height: 48px;
      vertical-align: middle;
      font-size: 16px;
      span {
        margin-right: 8px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .mark-comment {
    .h-comment {
      display: none;
    }
  }
}
