.mark-title{
  margin-bottom: 20px;
  .ant-page-header-heading-title{
    color: @primary-color;
  }
}
.mark-dtl {
  .mark-dtl-all {
    h1 {
      font-size: 34px;
    }
    .mark-dtl-title {
      font-size: 18px;
      padding: 12px 0;
      span {
        margin-right: 10px;
      }
    }
    .mark-dtl-cont {
      margin-top: 20px;
    }
  }
  .mark-dtl-support {
    margin: 60px 0;
    text-align: center;
    div {
      display: inline-block;
      padding: 4px 36px;
      border-radius: 20px;
      margin: 0 10px;
      span {
        font-size: 40px;
        color: @primary-color;
      }
      p {
        line-height: 20px;
        margin: 0;
      }
    }
  }
  .mark-dtl-tip {
    color: @primary-color;
    font-size: 14px;
    span {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .mark-login {
    .mark-login-btn-item-tip {
      margin-left: 10px;
    }
  }
  .mark-user {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 20px;
    .mark-user-msg {
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      span {
        margin-left: 20px;
        font-size: 18px;
        vertical-align: top;
        color: @primary-color;
      }
    }
    .mark-user-comment {
      padding: 0 80px;
    }
  }
}
.mark-list{
    .mark-list-page {
      margin-bottom: 14px;
      padding: 20px;
      .mark-list-page-title {
        font-weight: bold;
        font-size: 25px;
      }
      .mark-list-page-dec {
        line-height: 1.77;
        text-align: justify;
      }
      .mark-list-page-msg {
        line-height: 48px;
        vertical-align: middle;
        font-size: 16px;
        span {
          margin-right: 8px;
          font-weight: bold;
        }
      }
    }
  
}